{% extends "preguntas/layout.html" %}

{% block body %}


<div class="formulario" style="padding-top: 100px; position:inherit;">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    
        <label for="username">Usuario</label>
    <p><input type="text"  name="username"></p>
    <label for="password">Contraseña</label>
    <p><input type="password" name="password"  ></p>
    <input class="btn btn-success" type="submit" value="Ingresar">
    
    <input type="hidden" name="next" value="{{next}}"/>
    
</form>
<h3>
    ¿No estas registrado?
    <a href="{% url 'registro' %}">Registrarse</a>
</h3>
</div>

{% endblock %}