{% extends "preguntas/layout.html" %}
{% load static %}
{% block body %}
<div class="container" >
   
    {% if puntaje != 0 %}
    <div class="alert alert-success" role="alert">
        Correcto!! <i class="fa fa-smile-o" aria-hidden="true"></i> <br>
        La respuesta es {{respuesta}} !!!
      </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
       Incorrecto! <i class="fa fa-frown-o" aria-hidden="true"></i> <br>
       La respuesta correcta era {{correcta}}
      </div>
    {% endif %}


   <h2>
    Su puntaje obtenido en esta pregunta es: {{puntaje}} <br>
    
    {% if contador <= 3 %}
    <p><a href="{%url 'jugar' nivel contador %}">Continuar jugando!</a></p>
   
   {% else %}
    <h2>Ha llegado al final del juego. Su puntuación máxima es {{puntaje_total}}
        <p>
            <a href="{% url 'index' %}">ir a inicio</a>
        </p>
    </h2>
    {% endif %}
</div>

{% endblock %}